<div class="container mt-5">
    <div style="text-align: center;" *ngIf="!registerMode">
        <h1>Find your match</h1>
        <p class="lead">Come on find your matches ... all you need is sign up</p>
        <div class="text-center">
            <button class="btn btn-primary bt-lg mr-2" (click)="register()">Register</button>
            <button class="btn btn-info bt-lg">Learn More</button>
        </div>
    </div>

    <div class="container" *ngIf="registerMode">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>